<div class="container">
  <h3>Lista de Peliculas vistas</h3>
  <div class="row row-cols-4 row-cols-md-4 g-4">
    <app-elemento-listado
      *ngFor="let pelicula of datos"
      [pelicula]="pelicula"
    ></app-elemento-listado>
  </div>
  <button type="button" class="btn btn-secondary" (click)="aggPelicula()">
    Agregar pelicula
  </button>
  <select [(ngModel)]="opcionSeleccionado" (change)="capturar()">
    <option value="0">Selecciona una opción</option>
    <option *ngFor="let dato of lista">
      {{ dato }}
    </option>
  </select>
</div>
