.container{
    margin-top: 25px;
    align-items: center;
}
.pelicula{
    width: 400px;
    height: 400px;
}

.containerImg{
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #F1F1F1;
    display: flex;
}

img{
    max-width: 400px;
    max-height: 400px;
    display: inline-block;
} 

.btn{
    display: contents;

}